*{
    margin: 0;
    box-sizing: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
}
h3{
    color: aquamarine;
}

.card{
    border: 1px solid black;
}

.white-text{
  color: white;
}
